@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #000000;
}
.navBgColor {
  background: linear-gradient(91deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
  box-shadow: 0px 4px 15px 0px #00000040;
}

.sideBgColor{
  background: linear-gradient(3deg, #130B29 9.89%, #5436A9 100%, #5E47A1 100%);
}
